body{
    background-color: black;
    color: #ffffff;
    font-size: 1vw;
    line-height: 1.8VW;
    font-family: "微軟正黑體", Georgia, 'Times New Roman', Times, serif;
}

::selection {
    background-color: rgb(155, 60, 53);
    color: rgb(250, 247, 211);
}

a{
    color: rgb(243, 197, 141);
}
a:hover{
    color:#fff;
}
.mainimg{
    width: 100%;
    height:100%;
}

.mainbox1{
    position:absolute;
    left:43%;
    top:40%;
    writing-mode: vertical-lr ;
    font-size: 1vw;
}

.item{
    margin: 0px 5px;
}

h2{
    text-align: center;
    margin: 50px 0px 40px 0px;
    font-size: 2vw;
}
h3{
    text-align: center;
    margin: 20px 0px 20px 0px;
    font-size: 1.5vw;
}
.p3{
    margin: 50px;
    text-align: center;
}

.cauimg{
    margin:0px auto;
}

.introduction-1{
    text-align: center;
}

#introduction-2{
    display:flex;
    text-align: center;
    width: 70VW;
    margin: 20px auto;
}


.introduction-2-box{
    margin: 20px;
    width: 30VW;
}

.introduction-2 img{
    width: 30VW;
    padding: 10px;
}

.C_img{
    width: 10vw;
    height: 10vw;
    margin: 20px 5px;
}

.character{
    width: 80%;
    clear: both;
    margin: 10px auto;
}

.character-box P{
    margin: 5px 0px 10px 20px;

}

.character-box h4{

}

.character img{
    width: 35vw;
    float: right;
}


.character p{

}

.F-conter{
    transition:.8s;
    border:3px #3a3a3a solid;
    border-radius:80px;
    width:80vw;
    margin: 10vw auto;
    background: rgb(32, 32, 32);
    height: 20vw;
    padding-top: 8vw;
    line-height: 5vw;
    color: #777;
}
.F-conter a{
    transition:1s;
    color: #777;
}
.F-conter:hover{
    transition:.8s;
    border:3px #7a311f solid;
    width:80vw;
    margin: 10vw auto;
    background: #7a311f85;
    color: #fff;
}
.F-conter:hover a{
    transition:.8s;
    color: rgb(243, 197, 141);
}
.F-conter a:hover{
    transition:1s;
    color: #fff;
    font-size: 1.8vw;
}

.top{
    position: fixed;
    bottom:30px;
    right:30px;
}

footer{
    text-align: center;
    clear: both;
    background: #421409;
    margin-top:8vw;
    padding: 20px;
    border-top:10px #772612 solid;
}